html,
body,
#root,
.container {
    margin: 0;
    height: 100%;
    padding: 0;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #252b38;
}

.container section {
    flex-grow: 1;
}