
.Card {
    display: flex;
    flex-direction: column;
    border: solid 4px #ffe000;
    border-radius: 10px;
    width: 200px;
    align-items: center;
    color: white;
    text-align: center;
}

.Card img {
    height: 150px;
    width: 150px;
    border: solid 1px #12dc34;
    border-radius: 6px;
    margin-top: 10px
}

.card-name {
    display: flex;
    height: 3rem;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
}
